body {
    font-family: system-ui, 'Segoe UI';
    margin-left: 380px;
    margin-right: 380px;
    background-color: #053157;
}

/* header */
header {
    background: url("../praktikum_html-css/images/laut.jpg");
    color: #EEF7FF;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

/* section */
section {
    background-color: white;
}

#biodata,
#pendidikan-bahasa,
#keahlianDasar-nonTeknis {
    padding-left: 30px;
}

.bagian-biodata {
    display: flex;
    gap: 50px;
    align-items: center;
    line-height: 0.7;
    flex: 1;
}

.bagian-biodata p {
    text-indent: 21.5px;
}

.biodata-diri {
    color: #7AB2B2;
}

.foto-risma {
    position: relative;
    display: flex
}

.foto-risma img {
    width: 200px;
}

#pendidikan-bahasa {
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
}

.pendidikan-kuliah {
    color: #7AB2B2;
}

.pendidikan-kuliah ul li {
    width: 45%;
    text-align: right;
}

.bahasa-digunakan {
    color: #7AB2B2;
}

.bahasa-digunakan ul li {
    width: 45%;
    text-align: left;
}

#keahlianDasar-nonTeknis {
    display: flex;
    justify-content: space-between;
    padding-right: 74px;
}

.minat-bakat {
    color: #7AB2B2;
}

.minat-bakat ul li {
    width: 45%;
    text-align: right;
}

.bakat-minat {
    color: #7AB2B2;
}

.bakat-minat {
    width: 100%;
    text-align: left;
}

/* footer */
.footer {
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: #4D869C;
    position: relative;
    background-color: #EEF7FF;
}

.footer p a {
    text-decoration: none;
}