body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3e69b5;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #8ca0ce;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(250, 251, 251);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #4361cc;
    color: white;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #8ca0ce;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Penggunaan Selektor */
.biodata-diri {
    color: #3e69b5;
}

.pendidikan-kuliah {
    color: #3e69b5;
}

.minat-bakat {
    color: #3e69b5;
}

#biodata,
#pendidikan,
#keahlian {
    margin-bottom: 20px;
}

/* Penggunaan Box Model */
section {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 0 0 5px #626d73;
}