body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* header */
header {
    background: url("../praktikum_html-css/images/laut.jpg");
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    font-weight: bold;
}

/* nav */
nav {
    background-color: #8ca0ce;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(250, 251, 251);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #4361cc;
    color: white;
}

/* section */
section {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #fcf8f8;
    padding: 15px;
}

#biodata,
#pendidikan-bahasa,
#keahliandasar-nonTeknis {
    margin-bottom: 5px;
    padding-left: 60px;
}

.bagian-biodata {
    display: flex;
    gap: 500px;
    align-items: center;
    line-height: 0.7;
    flex: 1;
}

.bagian-biodata p {
    text-indent: 21.5px;
}

.biodata-diri {
    color: #3e69b5;
}

.foto-risma {
    position: relative;
    display: flex
}

.foto-risma img {
    width: 200px;
}

#pendidikan-bahasa {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 550px;
}

.pendidikan-kuliah {
    color: #3e69b5;
}

.pendidikan-kuliah ul li {
    width: 45%;
    text-align: right;
}

.bahasa-digunakan {
    color: #3e69b5;
}

.bahasa-digunakan ul li {
    width: 45%;
    text-align: left;
}

#keahlianDasar-nonTeknis {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 424px;
}

.minat-bakat {
    color: #3e69b5;
}

.minat-bakat ul li {
    width: 45%;
    text-align: right;
}

.bakat-minat {
    color: #3e69b5;
}

.bakat-minat {
    width: 100%;
    text-align: left;
}

/* footer */
footer {
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    background-color: #8ca0ce;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p a {
    text-decoration: none;
}